.excel {
   // .excel__toolbar
   &__toolbar {
      display: flex;
      border-bottom: 1px solid $borderColor;
      padding-left: 20px;
      padding-right: 20px;
   }
   // .excel__toolbar-btn
   &__toolbar-btn {
      @include btn($second);
      margin: 5px 0;
      &.active{
        background-color: $second;
      }
   }
}
