@import '@/../node_modules/normalize.css';
*,*::after , *::before{
   box-sizing: border-box;
}
html{
   box-sizing: inherit;
}
body{
   margin: 0;
   padding: 0;
   font-family: Roboto;
   font-weight: normal;
   font-size: 13px; 
}
h1,h2,h3,h4,h5,h6,p{
   margin: 0;
}
.dashboard-container{
   max-width:1040px;
   padding: 0 20px;
   margin: 0 auto;
}
.main-img{
   width: 50px;
   height: 50px;
   margin-right: 10px;
}
.app, .excel{
   max-height: 100vh;
   display: flex;
   flex-direction: column;
}
@import "vars";
@import "mixins";

@import "modules/header";
@import "modules/toolbar";
@import "modules/formula";
@import "modules/table";

@import "modules/dashboard";